<ng-container *ngIf="(loading$ | async) else content">
    <p-progressSpinner class="absolute-center"></p-progressSpinner>
</ng-container>

<ng-template #content>
    <ng-container *ngIf="(doctor$ | async) as doctor">
        <p-card header="Карточка врача" [style]="{'width': '100%', 'margin-bottom': '2em'}">
            <div class="flex-row">
                {{ 'ФИО: ' + (doctor | username) }}
            </div>

            <div class="flex-row">
                {{ 'Место работы: ' + doctor.jobPlace }}
            </div>

            <div class="flex-row">
                {{ 'Должность: ' + doctor.jobTitle }}
            </div>

            <div class="flex-row">
                {{ 'Телефон: ' + doctor.phone }}
            </div>

            <div class="flex-row">
                {{ 'Email: ' + doctor.email }}
            </div>

            <div class="flex-row" [style.margin-top.px]="24">
                <button
                        [style.height.px]="51"
                        [pTooltip]="'Редактировать'"
                        pButton
                        (click)="editDoctor(doctor)">
                    Редактировать
                </button>
            </div>
        </p-card>
    </ng-container>
</ng-template>