<h1 class="page-title">
    Пациенты
</h1>

<ng-container *ngIf="(loading$ | async) else content">
    <p-progressSpinner class="absolute-center"></p-progressSpinner>
</ng-container>

<ng-template #content>
    <button
            class="add-btn"
            tooltipPosition="left"
            [pTooltip]="'Добавить нового пациента'"
            [style.margin-left.px]="24"
            pButton
            (click)="addNewPatient()">
        <mat-icon>add_circle_outline</mat-icon>
    </button>

    <p-orderList
            [value]="(patients$ | async) ?? []"
            [listStyle]="{'height':'auto'}"
            header="Cписок пациентов"
            filterBy="lastname"
            filterPlaceholder="Поиск по фамилии">
        <ng-template pTemplate="item" let-item>
            <div class="patient-item" (dblclick)="openPatientCard(item.id)">
                <div class="patient-item-piece">
                    {{ item.firstname }} {{ item.lastname }}
                </div>
                <div class="patient-item-piece">
                    {{ item.birthDay }}
                </div>
            </div>
        </ng-template>
    </p-orderList>
</ng-template>