{
  "trailingComma": "none",
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "htmlWhitespaceSensitivity": "strict",
  "bracketSpacing": true,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "tabWidth": 2
      }
    },
    {
      "files": "*.scss",
      "options": {
        "tabWidth": 2
      }
    }
  ]
}