<ul>
    <li class="right">
        <app-icon src="icons/header/search.svg"></app-icon>
        <app-icon src="icons/header/alert.svg"></app-icon>

        <ng-container *ngIf="userService.profile$ | async as profile">
            <button
                    class="menu-button"
                    mat-icon-button
                    [matMenuTriggerFor]="menu"
            >
                {{ profile | username }}
            </button>
            <mat-menu #menu="matMenu">
                <button
                        autotest="profile"
                        mat-menu-item
                        (click)="openProfile()"
                >
                    <mat-icon>account_circle</mat-icon>
                    <span>Профиль</span>
                </button>
                <button
                        autotest="logout"
                        mat-menu-item
                        (click)="logOut()"
                >
                    <mat-icon>exit_to_app</mat-icon>
                    <span>Выйти</span>
                </button>
            </mat-menu>
        </ng-container>
    </li>
</ul>