.content-wrapper {
  display: flex;
  flex-direction: column;
}

.col {
  padding-left: 0 !important;
}

.title {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}