<div class="title" mat-dialog-title>
    <h2>
        {{ 'Изменение пароля' }}
    </h2>
    <mat-icon class="cursor-pointer" (click)="close()">close</mat-icon>
</div>

<mat-dialog-content [formGroup]="form">
    <div class="content-wrapper">
        <div class="row">
            <div class="col">
                <mat-form-field>
                    <mat-label>Старый пароль</mat-label>
                    <input matInput
                           type="password"
                           formControlName="oldPassword">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <mat-form-field>
                    <mat-label>Новый пароль</mat-label>
                    <input matInput
                           type="password"
                           formControlName="newPassword">
                </mat-form-field>
            </div>
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button mat-primary" (click)="save()">Сохранить</button>
</mat-dialog-actions>