:host {
  ::ng-deep {
    li.p-orderlist-item {
      padding: 0 !important;
    }

    .p-orderlist-controls {
      display: none !important;
    }

    p-card {
      margin-bottom: 24px;
    }

    .p-calendar {
      width: 70% !important;
    }
  }
}

.questionnaire-item {
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 16px;
  display: inline-flex;
}

.questionnaire-item-piece {
  padding: 0 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}